@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --font-sans: sans-regular;
  --font-sans-light: sans-light;
  --font-sans-medium: sans-medium;
  --font-sans-semibold: sans-semibold;
  --font-sans-bold: sans-bold;
  --font-sans-extrabold: sans-extrabold;
}
